.box-login {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  background-color: grey;
  justify-content: center;
  background-image: url("/img/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.box-login form {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  background-color: rgb(59, 48, 48);
  border-radius: 1rem;
}

.box-login form label {
  align-self: flex-start;
  margin-left: 2.7rem;
  margin-top: 1rem;
  color: #fff;
}

.box-login form label input {
  border-radius: 0.5rem;
}

.box-login .btn-submit {
  margin-top: 1rem;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: rgb(6, 6, 68);
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
