<% include('partial/header') %>
<main id="index">
  <video class="video" autoplay autostart muted loop>
    <source src="./public/video/Driving.mp4" type="video/mp4" />
  </video>
</main>
<% include('partial/footer') %>
