<%- include('partial/header') %>
<main id="login">
  <div class="box-login">
    <form action="/login" method="post">
      <label for="">Email: </label>
      <input type="email" name="email" id="" required />
      <label for="">Senha: </label>
      <input type="password" name="senha" id="" required />
      <button type="submit" class="btn-submit">Logar</button>
    </form>
  </div>
</main>
<%- include('partial/footer') %>
