<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/oferta.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/cadastro.css" />
    <title>Locadora</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/" class="brand">RentCar</a>
        <div class="hamburguer">
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/ofertas">Ofertas</a></li>
            <% if (login) { %>
              <li><a href="/cadastro">Cadastro</a></li>
              <li><a href="/logout">Sair</a></li>
              <% } else { %>
              <li><a href="/login">Login</a></li>
              <li><a href="/signin">Sign in</a></li>
              <% } %>
          </ul>
        </div>
      </nav>
    </header>
